{% extends "base.html" %}

{% block style_block %}
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<style type="text/css">
  html { height: 100% }
  body { height: 100%; margin: 0; padding: 0 }
  #map-canvas { height: 100% }
</style>
{% endblock style_block %}

{% block head_script %}
<script type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?key={{ api_key }}&sensor=false">
</script>
<script type="text/javascript">
  function initialize() {
    var mapOptions = {
      mapTypeId: google.maps.MapTypeId.TERRAIN,
      center: new google.maps.LatLng(40.0, -100.0),
      zoom: 4,
      minZoom: 3
    };
    var map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);
    {% for photo in photos %}
        {%- if photo.location.lat is not defined or photo.location.lon is not defined %}
            {% continue %}
        {% endif %}
        var pos = new google.maps.LatLng({{ photo.location.lat }}, {{ photo.location.lon }});
        var marker = new google.maps.Marker({
            position: pos,
            map: map,
            title: '{{ photo.name }}',
            icon: {
                url: '{{ photo.serving_url() }}',
                size: new google.maps.Size({{ map_thumbnail_size }}, {{ map_thumbnail_size }}),
                origin: new google.maps.Point(0, 0),
                anchor: new google.maps.Point(50, 50)
            }
        });

        google.maps.event.addListener(marker, 'click', function() {
            window.location = '/view/{{ photo.key.id() }}';
        });

    {% endfor %}
  }
  google.maps.event.addDomListener(window, 'load', initialize);
</script>
{% endblock head_script %}

{% block content %}

<div style="width: 20%; margin: 0 auto; font-size: 24px;">
    <a href="/upload">Upload Photos</a>
</div>
<div id="map-canvas"/>

{% endblock content %}
