{% extends "base.html" %}

{% block style_block %}
    <link href="/static/css/dropzone.css" rel="stylesheet">
{% endblock style_block %}

{% block head_script %}
    <script src="/static/js/lib/dropzone.js"></script>
{% endblock head_script %}

{% block content %}

<form action="/api/v1/photos" method="POST" id="photo-dropzone" class="dropzone" enctype="multipart/form-data">
  <div class="fallback">
    <input name="file" type="file" multiple />
  </div>
</form>
<button id="upload">Upload</button>

<p>My Photos</p>
<table id="photos">
<ul>
{% for photo in photos %}
<tr>
    <td><img src="{{ photo.primary_serving_url(size=250) }}" alt="{{ photo.name }}" /></td>
    <td>
        <form action="/api/v1/photos/{{ photo.key.urlsafe() }}" method="POST">
            Name: <input type="text" name="name" value="{{ photo.name }}" /><br/>
            Description: <input type="text" name="description" value="{{ photo.description }}" /><br/>
            Location: <input type="text" name="location" value="{{ photo.location }}" /><br/>
            <input type="submit" value="update" />
        </form>
        
    </td>
    <td>
        <form action="/api/v1/photos/{{ photo.key.urlsafe() }}/delete">
            <input type="submit" value="delete" />
        </form>
    </td>
</tr>
{% endfor %}
</table>

<script type="text/javascript">
Dropzone.options.photoDropzone = {

  // Prevents Dropzone from uploading dropped files immediately
  autoProcessQueue: false,

  init: function() {
    var submitButton = $("#upload")
        myDropzone = this; // closure

    submitButton.click(function() {
        myDropzone.processQueue(); // Tell Dropzone to process all queued files.
    });

    this.on("success", function(file, responseText) {
        var photo = $.parseJSON(responseText);
        $("#photos").append(
            "<tr>" + 
            "<td><img src='" + photo.thumbnail + "' /></td>" +
            "<td>" + 
            "<form action='/api/v1/photos/" + photo.key + "' method='POST'>" +
            "Name: <input type='text' name='name' value='" + photo.name + "' /> <br/>" +
            "Description: <input type='text' name='description' value='" + photo.description + "' /><br/>" +
            "Location: <input type='text' name='location' value='" + photo.location + "' /><br/>" + 
            "<input type='submit' value='update' />" +
            "</form>" +
            "</td></tr>");
    });

  }
};
</script>

{% endblock content %}
