{% extends "base.html" %}

{% block style_block %}
    <link href="/static/css/dropzone.css" rel="stylesheet">
{% endblock style_block %}

{% block head_script %}
    <script src="/static/js/lib/dropzone.js"></script>
{% endblock head_script %}

{% block content %}

<form action="/api/v1/photos" method="POST" class="dropzone" enctype="multipart/form-data">
  <div class="fallback">
    <input name="file" type="file" multiple />
  </div>
</form>

<ul>
{% for photo in photos %}
<li><a href="/view/{{ photo.key.id() }}">{{ photo.name }}</a>
    (<a href="/api/v1/photos/{{ photo.key.id() }}/delete">delete</a>)
</li>
{% endfor %}

{% endblock content %}
